{% extends 'inventory_base.html' %}

{% block title %}Add New Product{% endblock %}

{% block content %}
    <h1>ADD NEW PRODUCT</h1>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="name" name="name" value="{{ form.name.value|default:'' }}">
            {% if form.name.errors %}
                <div class="invalid-feedback">
                    Invalid name.
                </div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-control {% if form.category.errors %}is-invalid{% endif %}" id="category" name="category" value="{{ form.category.value|default:'' }}">
                <option value="">--- Select Product Category ---</option>
                {% for value, label in form.category.field.widget.choices %}
                    <option value="{{ value }}" {% if value == form.category.value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            {% if form.category.errors %}
                <div class="invalid-feedback">
                    Invalid category.
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control {% if form.quantity.errors %}is-invalid{% endif %}" id="quantity" name="quantity" value="{{ form.quantity.value|default:'' }}">
            {% if form.quantity.errors %}
                <div class="invalid-feedback">
                    Invalid Quantity.
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="measurement" class="form-label">Actual Unit</label>
            <input type="text" class="form-control {% if form.measurement.errors %}is-invalid{% endif %}" id="measurement" name="measurement" value="{{ form.measurement.value|default:'' }}">
            {% if form.measurement.errors %}
                <div class="invalid-feedback">
                    Invalid Actual Unit.
                </div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="reorder_level" class="form-label">Reorder Level</label>
            <input type="number" class="form-control {% if form.reorder_level.errors %}is-invalid{% endif %}" id="reorder_level" name="reorder_level" value="{{ form.reorder_level.value|default:'' }}">
            {% if form.reorder_level.errors %}
                <div class="invalid-feedback">
                    Invalid reorder level.
                </div>
            {% endif %}
        </div>
        
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="price" class="form-label">Selling Price</label>
                <input type="number" class="form-control {% if form.price.errors %}is-invalid{% endif %}" id="selling_price" name="selling_price" value="{{ form.selling_price.value|default:'' }}">
                {% if form.selling_price.errors %}
                    <div class="invalid-feedback">
                        Invalid selling price.
                    </div>
                {% endif %}
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="cost_price" class="form-label">Cost Price</label>
                <input type="number" class="form-control {% if form.cost_price.errors %}is-invalid{% endif %}" id="cost_price" name="cost_price" value="{{ form.cost_price.value|default:'' }}">
                {% if form.cost_price.errors %}
                    <div class="invalid-feedback">
                        Invalid cost price.
                    </div>
                {% endif %}
            </div>
        </div>     

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
{% endblock %}
