<style>
    @media screen and (max-width: 1441px) {
        nav {
            top: 0; 
            height: 10vh; 
            z-index: 10;
        }
    }

    @media screen and (max-width: 769px) {
        #navbarNav {
            background-color: gray;
        }

        .nav-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
        }
    }
</style>

<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow-sm">
        <a class="navbar-brand text-light font-weight-bold" href="#">
            <strong>My Hardware Store</strong>
        </a>

        <!-- Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon primary"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.userpermission.role == "manager" %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'pos_page' %}" style="transition: color 0.3s ease;">
                            <i class="bi bi-cart"></i> 
                            <strong>POS</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'dashboard' %}" style="transition: color 0.3s ease;">
                            <i class="bi bi-house-door"></i> 
                            <strong>Dashboard</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'product_list' %}" style="transition: color 0.3s ease;">
                            <i class="bi bi-box"></i> 
                            <strong>Inventory</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'request_quotation_list' %}" style="transition: color 0.3s ease;">
                            <i class="bi bi-file-earmark-plus"></i> 
                            <strong>Procurement</strong>
                        </a>
                    </li>

                {% elif request.user.userpermission.role == "employee" %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'pos_page' %}" style="transition: color 0.3s ease;">
                            <i class="bi bi-cart"></i> 
                            <strong>POS</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'dashboard' %}" style="transition: color 0.3s ease;">
                            <i class="bi bi-house-door"></i> 
                            <strong>Dashboard</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'product_list' %}" style="transition: color 0.3s ease;">
                            <i class="bi bi-box"></i> 
                            <strong>Inventory</strong>
                        </a>
                    </li>

                {% elif request.user.userpermission.role == "supplier" %}
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'edit_profile' %}" style="transition: color 0.3s ease;">
                        <i class="bi bi-person-fill"></i> 
                        <strong>Profile</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'logout' %}" style="transition: color 0.3s ease;">
                        <i class="bi bi-box-arrow-right"></i> 
                        <strong>Logout</strong>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
