{% extends 'inventory_base.html' %}

{% block title %}Product View{% endblock %}

{% block content %}
<style>
.box-container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.left-box-container {
    height: 100%;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.upper-section {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr-container {
    border-style: solid;
    border-color: rgba(0, 0, 0, .25);
    border-width: .5px;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    padding: 15px;
}

.qr-title-container h2 {
    font-weight: bold;
}

.qr-container img {
    height: 100%;
    width: 100%;
}

.lower-section {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgba(0, 0, 0, .25);
    border-width: .5px;
    border-radius: 10px;
    height: 170px;
    width: 200px;
    padding: 15px;
}

.barcode-title-container h4 {
    font-weight: bold;
}

.barcode-container img {    
    height: 80%;
    width: 100%;
}

.right-box-container {
    height: 100%;
    width: 900px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.right-box-container .title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 40px;
}

.title-container h2 {
    font-weight: bold;
}

.product-attribute {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-attribute p {
    margin: 0px;
}

.section-1 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.other-section {
    width: 100%;
    display: flex;
    align-items: center;
}

.section-2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 160px;
}

.section-3 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 85px;
}

@media screen and (max-width: 1350px) {
    .right-box-container {
        padding: 60px;
    }
}

@media screen and (max-width: 820px) {
    .box-container {
        gap: 20px;
    }

    .qr-title-container h2 {
        font-size: 18px;
    }

    .qr-container {
        height: 150px;
        width: 150px;
    }

    .barcode-title-container h4 {
        font-size: 13px;
    }

    .barcode-container {
        width: 150px;
        height: 120px;
    }

    .right-box-container {
        padding: 40px;
    }

    .right-box-container .title-container h2 {
        font-size: 18px;
    }

    .product-attribute p {
        font-size: 13px;
    }
}

@media screen and (max-width: 520px) {
    .box-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .right-box-container {
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }

    .right-box-container .title-container {
        margin-bottom: 10px;
    }

    .right-box-container .title-container h2 {
        font-size: 14px;
    }

    .section-1 {
        gap: 0px;
        justify-content: space-between;
    }

    .section-2 {
        gap: 0px;
        justify-content: space-between;
    }

    .section-3 {
        gap: 0px;
        justify-content: space-between;
    }

    .product-attribute p {
        font-size: 9px;
    }

    .qr-title-container h2 {
        font-size: 14px;
    }

    .left-box-container {
        width: 100%;
    }

}

</style>

<div class="box-container">    
    <div class="left-box-container">
        <div class="upper-section">
            <div class="qr-title-container">
                <h2>QR Code</h2>
            </div>

            <div class="qr-container">
                <img src="{{ qr_code }}" alt="QR Code for {{ product.name }}" />
            </div>
        </div>

        <div class="lower-section">
            <div class="barcode-title-container">
                <h4>Barcode</h4>
            </div>

            <div class="barcode-container">
                <img src="{{ barcode }}" alt="Barcode for {{ product.name }}" />
            </div>
        </div>
    </div>

    <div class="right-box-container">
        <div class="title-container">
            <h2>Product Details</h2>
        </div>

        <div class="section-1">
            <div class="product-attribute">
                <p class="fw-bold">
                    Product Name:
                    <span class="text-muted fw-normal">{{ product.name }}</span>
                </p>
            </div>

            <div class="product-attribute">
                <p class="fw-bold">
                    SKU:
                    <span class="text-muted fw-normal">{{ product.sku }}</span>
                </p>
            </div>
        </div>
        
        <div class="other-section">
            <div class="product-attribute">
                <p class="fw-bold">
                    Category:
                    <span class="text-muted fw-normal">{{ product.category }}</span>
                </p>
            </div>
        </div>

        <div class="other-section">
            <div class="product-attribute">
                <p class="fw-bold">
                    Actual Unit:
                    <span class="text-muted fw-normal">{{ product.measurement }}</span>
                </p>
            </div>
        </div>

        <div class="other-section" style="overflow-y: auto;">
            <div class="product-attribute">
                <p class="fw-bold">
                    Description:
                    <span class="text-muted fw-normal">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </span>
                </p>
            </div>
        </div>
        
        <div class="section-2">
            <div class="product-attribute">
                <p class="fw-bold">
                    Quantity:
                    <span class="text-muted fw-normal">{{ product.quantity }}</span>
                </p>
            </div>

            <div class="product-attribute">
                <p class="fw-bold">
                    Reorder Level:
                    <span class="text-muted fw-normal">{{ product.reorder_level }}</span>
                </p>
            </div>
        </div>

        <div class="section-3">
            <div class="product-attribute">
                <p class="fw-bold">
                    Selling Price:
                    <span class="text-muted fw-normal">₱{{ product.selling_price }}</span>
                </p>
            </div>

            <div class="product-attribute">
                <p class="fw-bold">
                    Cost Price:
                    <span class="text-muted fw-normal">₱{{ product.cost_price }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}