{% extends 'inventory_base.html' %}

{% block title %}Add to Waste{% endblock %}

{% block content %}
<style>
.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.title-container h2 {
    font-weight: bold;
}

.box-container input {
    border-radius: 10px;
}

.box-container label {
    margin-bottom: 5px;
}

.btn {
    border-radius: 10px;
}

@media screen and (max-width: 520px) {
    .title-container h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }
}
</style>

<div class="box-container">
    <form method="post" class="p-4 bg-light">
        {% csrf_token %}
        <div class="title-container">
            <h2>Transfer to Waste</h2>
        </div>
        
        <p class="mb-4">
            How many units of <strong>{{ product.name }}</strong> in <strong>{{ product.measurement }}</strong> do you want to transfer to waste?
        </p>

        <div class="mb-3">
            <label for="quantity" class="form-label fw-bold">Quantity</label>
            <input type="number" id="quantity" name="quantity" class="form-control" placeholder="Enter quantity" min="1" required>
        </div>

        <div class="mb-3">
            <label for="reason" class="form-label fw-bold">Reason</label>
            <input type="text" id="reason" name="reason" class="form-control" placeholder="Enter reason for transfer" rows="3" required>
        </div>

        <div class="d-flex justify-content-between gap-2">
            <a href="{% url 'product_list' %}" class="btn btn-secondary">
                <i class="bi bi-arrow-left rounded-3"></i> Cancel
            </a>
            
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash"></i> To Waste
            </button>
        </div>
    </form>
</div>
{% endblock %}
