<nav class="col-md-2 d-md-block bg-primary text-white sidebar" style="position: sticky; top: 0; height: 93vh;">
    <div class="position-sticky">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'dashboard' %}">
                    <strong>View Dashboard</strong>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'product_levels' %}">
                    <strong>View Product Levels</strong>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="">
                    <strong>View Financial Dashboard</strong>
                </a>
            </li>
            
        </ul>
    </div>
</nav>