{% extends 'pos_base.html' %}
{% load static %}
{% block title %}POS - Add Items to Invoice{% endblock %}

{% block content %}
<style>
    .title-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }

    .title-container h3 {
        text-align: center;
        font-size: 42px;
        font-weight: bold;
    }

    .upper-section-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .search-bar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .search-bar-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px
    }

    .search-bar-button input {
        height: 40px;
        width: 220px;
        border-radius: 10px 0px 0px 10px;
        border-style: none;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .search-bar-button button {
        color: white;
        background-color: #8E0D0D;
        height: 40px;
        width: 120px;
        border-radius: 0px 10px 10px 0px;
        border-style: none;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .middle-section-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 20px;
        margin-bottom: 40px;
        height: 500px;
        gap: 50px;
    }

    .search-result-container {
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .search-result-table {
        height: 100%;
    }

    .invoice-summary-qr-scanner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .qr-scanning-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
    }

    .qr-video-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .qr-video-button button {
        color: white;
        background-color: #8E0D0D;
        border-style: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 40px;
        width: 150px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .invoice-summary-container {
        height: 230px;
        width: 250px;
    }

    .invoice-summary-details {
        padding: 20px;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .lower-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

    .product-cart-container {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

@media screen and (max-width: 520px) {
    .upper-section-container {
        display: flex;
        width: 100%;
    }

    .search-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .search-bar-button input {
        height: 30px;
        width: 200px;
    }

    .search-bar-button button {
        height: 30px;
        width: 80px;
    }

    .middle-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 700px;
    }

    .invoice-summary-qr-scanner-container {
        gap: 0px;
    }

    .qr-video-button {
        gap: 0px;
    }
}
</style>

<div class="title-container">
    <h3>Point-Of-Sale</h3>
</div>

<div class="upper-section-container">
    <div class="search-bar-container">
        <form method="GET" action="{% url 'pos_page' %}">
            <div class="search-bar-button">
                <input type="text" name="sku" id="sku" class="form-control" placeholder="Search by SKU">
                <button type="submit">Search</button>
            </div>
        </form>

        <form method="GET" action="{% url 'pos_page' %}">
            <div class="search-bar-button">
                <input type="text" name="name" id="name" class="form-control" placeholder="Search by Product Name">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</div>


<div class="middle-section-container">
    <div class="search-result-container">
        {% if products %}
            <table class="search-result-table table table-striped table-hover">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Product Name</th>
                        <th>Qty.</th>
                        <th>Unit Price</th>
                        <th>Input Qty.</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.sku }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>₱{{ product.selling_price }}</td>
                            <form method="POST" action="{% url 'add_item' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <td>
                                    <input type="number" name="quantity" class="form-control me-2" placeholder="Quantity" required min="1">
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success btn-sm">Add</button>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center text-muted">No products found. Try searching again.</p>
        {% endif %}
    </div>

    <div class="invoice-summary-qr-scanner-container">
        <div class="qr-scanning-container">
            <div class="qr-video-button">
                <div>
                    <button id="startScanButton">Start Scanning</button>
                    <button id="stopScanButton" class="d-none">Stop Scanning</button>
                </div>
    
                <div class="video-container" style="width: 150px; height: 150px; overflow: hidden; border: 1px solid #ddd;">
                    <video id="videoElement" autoplay muted style="width: 150px; height: 150px;"></video>
                </div>
            </div>
            <div id="videoError" style="display: none; color: red; margin-top: 5px;">Error accessing webcam. Please check your permissions or device.</div>
        
            <p id="scannedValue" class="mt-2"></p>
            <form id="filterForm" method="GET" action="{% url 'pos_page' %}" style="display: none;">
                <input type="hidden" name="sku">
            </form>
        </div>

        <div class="invoice-summary-container">
            <div class="invoice-summary-details">
                <p><strong style="font-weight: bold;">Status:</strong> {{ invoice.status }}</p>
                <p><strong style="font-weight: bold;">Total:</strong> ₱{{ total_amount|floatformat:2 }}</p>
                <p><strong style="font-weight: bold;">VAT (12%):</strong> ₱{{ vat|floatformat:2 }}</p>
                <p><strong style="font-weight: bold;">Total (VAT Inclusive):</strong> ₱{{ total_with_vat|floatformat:2 }}</p>
            </div>
        </div>
    </div>
</div>


<div class="lower-section-container">
    <div class="product-cart-container">
        <h4>Sales Invoice: {{ invoice.invoice_no }}</h4>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead  style="background-color: #8E0D0D;">
                    <tr>
                        <th class="text-light" style="background-color: #8E0D0D;">Product Name</th>
                        <th class="text-light"  style="background-color: #8E0D0D;">Quantity</th>
                        <th class="text-light"  style="background-color: #8E0D0D;">Actual Unit</th>
                        <th class="text-light"  style="background-color: #8E0D0D;">Unit Price</th>
                        <th class="text-light"  style="background-color: #8E0D0D;">Total Price</th>
                        <th class="text-light"  style="background-color: #8E0D0D;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item, item_total in item_totals %}
                        <tr>
                            <td>{{ item.product_name }}</td>
                            <td>
                                <form method="POST" action="{% url 'edit_item' item.id %}" class="d-flex">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" value="{{ item.quantity }}" class="form-control w-50" min="1" required>
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="bi bi-floppy"></i>
                                    </button>
                                </form>
                            </td>
                            <td>{{ item.measurement }}</td>
                            <td>{{ item.unit_price }}</td>
                            <td>{{ item_total }}</td>
                            <td>
                                {% if invoice.status != "Completed" %}
                                    <form method="POST" action="{% url 'delete_item' item.id %}" class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if invoice.status == 'Pending' %}
        {% if has_items %}
            <div class="text-center">
                <form action="{% url 'complete_invoice' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Complete Transaction</button>
                </form>
            </div>
        {% endif %}
    {% elif invoice.status == 'Completed' %}
        {% if has_items %}
            <div class="text-center">
                <form action="{% url 'complete_invoice' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Complete Transaction</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
</div>


{% endblock %}
