<style>
.side-nav-container {
    background-color: #8E0D0D;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10vh;
    left: 0px;
    height: 7vh;
    width: 100%;
    gap: 10px;
}

.side-nav-container a {
    color: rgba(255, 255, 255, 0.5);
}

.side-nav-container .nav-item {
    padding: 10px;
    transition: 0.5s ease;
}

.side-nav-container .nav-item:hover {
    color: white;
    border-top-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: #8E0D0D;
}

{% if request.path == '/pos/pos_page/' or request.path == '/pos/pos_page'%}
.side-nav-container .pos-page-link a {
    color: white;
}

.side-nav-container .pos-page-link {
    color: white;
    border-top-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: #8E0D0D;
}
{% endif %}

{% if request.path == '/pos/transaction_invoices/' or request.path == '/pos/transaction_invoices'%}
.side-nav-container .transaction-invoices-link a {
    color: white;
}

.side-nav-container .transaction-invoices-link {
    color: white;
    border-top-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: #8E0D0D;
}
{% endif %}

.nav-item strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

@media screen and (max-width: 820px) {
    .side-nav-container {
        gap: 3px;
    }

    .nav-item strong {
        font-size: 10px;
    }
}
</style>


<div class="side-nav-container" id="SideNavBar">
    <div class="nav-item pos-page-link">
        <a class="nav-link" href="{% url 'pos_page' %}">
            <strong>POS</strong>
        </a>
    </div>

    {% if request.user.userpermission.role == "manager" %}
        <div class="nav-item transaction-invoices-link">
                <a class="nav-link" href="{% url 'transaction_invoices' %}">
                    <strong>Transaction Invoices</strong>
                </a>
        </div>
    {% endif %}
</div>