{% extends 'pos_base.html' %}

{% block title %}View Transaction Invoice Details{% endblock %}

{% block content %}
<style>
.card {
    width: 90%;
    padding: 40px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.button-below-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.button-below-container a {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 520px) {
    .card {
        padding: 20px;
        overflow-x: hidden;
    }

    table {
        overflow-x: auto;
    }

    .card p {
        font-size: 8px;
        margin-bottom: 1px;
    }
}
</style>

<div class="card mt-5 mb-5 m-auto">
    <h3 class="mb-4 text-center">Transaction Invoice Details</h3>
    
    <div class="row mb-2">
        <div class="col-md-6">
            <p class="small text-muted mb-2"><strong>Company Name:</strong> {{ invoice.company_name }}</p>
            <p class="small text-muted mb-2"><strong>Company Address:</strong> {{ invoice.company_address }}</p>
            <p class="small text-muted mb-2"><strong>Company Contact:</strong> {{ invoice.contact_no }}</p>
        </div>
        <div class="col-md-6">
            <p class="small text-muted mb-2"><strong>Invoice No.:</strong> {{ invoice.invoice_no }}</p>
            <p class="small text-muted mb-2"><strong>Employee:</strong> {{ invoice.employee_id }}</p>
            <p class="small text-muted mb-2"><strong>Transaction Date:</strong> {{ invoice.transaction_date }}</p>
        </div>
    </div>

    <div class="mb-4">
        <hr>
        <p class="small text-muted mb-2"><strong>Invoice Status:</strong> 
            {% if invoice.status == "Paid" %}
                <span class="text-success">{{ invoice.status }}</span>
            {% elif invoice.status == "Completed" %}
                <span class="text-success">{{ invoice.status }}</span>
            {% elif invoice.status == "Pending" %}
                <span class="text-warning">{{ invoice.status }}</span>
                {% elif invoice.status == "Voided" %}
                <span class="text-danger">{{ invoice.status }}</span>
            {% else %}
                <span class="text-secondary">{{ invoice.status }}</span>
            {% endif %}
        </p>

        {% if invoice.status == "Completed" %}
            <form method="post" class="mt-0">
                {% csrf_token %}
                <button type="submit" name="voided" class="btn btn-sm btn-danger">Void</button>
            </form>
        {% endif %}

        {% if invoice.status == "Paid" %}
            <form method="post" class="mt-0">
                {% csrf_token %}
                <button type="submit" name="refunded" class="btn btn-sm btn-secondary">Refund</button>
            </form>
        {% endif %}
    </div>

    <div class="mb-4">
        <hr>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><p class="small text-muted mb-0">Product Name</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Quantity</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Actual Unit</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Unit Price</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Total Price</p></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td scope="row"><p class="small text-muted mb-0">{{ item.product_name }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">{{ item.quantity }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">{{ item.measurement }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">₱ {{ item.unit_price }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">₱ {{ item.total_price }}</p></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-secondary">No items found for this Invoice.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row mb-2">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <p class="small text-muted mb-2"><strong>Total Amount:</strong> ₱ {{ invoice.total_amount }}</p>
                <p class="small text-muted mb-2"><strong>VAT (12%):</strong> ₱ {{ vat|floatformat:2 }}</p>
                <hr>
                <p class="small text-muted mb-2"><strong>Total Amount (VAT Inclusive):</strong> ₱ {{ invoice.total_amount_with_vat }}</p>
                <p class="small text-muted mb-2"><strong>Cash Tendered:</strong> ₱ {{ invoice.cash_tendered }}</p>
                <p class="small text-muted mb-2"><strong>Change:</strong> ₱ {{ change }}</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center button-below-container">
    <a href="{% url 'transaction_invoices' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'download_sales_invoice_pdf' invoice.id %}" class="btn btn-primary">Download PDF</a>
</div>
{% endblock %}