{% extends 'pos_base.html' %}

{% block title %} POS Page {% endblock %}

{% block content %}
<style>
.box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-container {
    margin-top: 20px;
}

.title-container h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.upper-section-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 20px;
    gap: 20px;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.search-field input {
    height: 40px;
    width: 220px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.upper-section-container button {
    color: white;
    background-color: #8E0D0D;
    margin-top: 24px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.table-container {
    width: 100%;
    padding: 0px 20px;
}

.table-responsive {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 520px) {
    body {
        overflow-x: hidden;
    }

    .upper-section-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .upper-section-container button {
        height: 30px;
    }

    .search-bar-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-bar-container input {
        height: 30px;
        width: 200px;
    }
}
</style>

<div class="box-container">
    <div class="title-container">
        <h3>Transactions List</h3>
    </div>

    <form method="get" id="filterForm" class="upper-section-container">
        <div class="search-bar-container">
            <div class="search-field">
                <label><strong style="font-weight: bold;">Invoice No:</strong></label>
                <input type="number" class="form-control" id="id_invoice_no" name="invoice_no">
            </div>
        
            <div class="search-field">
                <label><strong style="font-weight: bold;">Receipt Date:</strong></label>
                <input type="date" class="form-control" id="id_receipt_date" name="receipt_date">
            </div>
        </div>

        <button type="submit">Filter</button>
    </form>
    
    <div class="table-container">
        <div class="table-responsive p-3 rounded-3 bg-light">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col" class="small">Invoice No</th>
                        <th scope="col" class="small">Employee</th>
                        <th scope="col" class="small">Total Amount (VAT)</th>
                        <th scope="col" class="small">Transaction Date</th>
                        <th scope="col" class="small">Status</th>
                        <th scope="col" class="text-center small">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in page_obj %}
                        <tr>
                            <th scope="row" class="small">{{ invoice.invoice_no }}</td>
                            <td scope="row" class="small">{{ invoice.employee_id.get_full_name }}</td>
                            <td scope="row" class="small">₱ {{ invoice.total_amount_with_vat|floatformat:2 }}</td>
                            <td scope="row" class="small">{{ invoice.transaction_date }}</td>
                            <td scope="row" class="small">
                                {% if invoice.status == "Paid" %}
                                    <span class="badge text-bg-success small">{{ invoice.status }}</span>
                                {% elif invoice.status == "Completed" %}
                                    <span class="badge text-bg-success small">{{ invoice.status }}</span>
                                {% elif invoice.status == "Pending" %}
                                    <span class="badge text-bg-warning small">{{ invoice.status }}</span>
                                {% elif invoice.status == "Voided" %}
                                    <span class="badge text-bg-danger small">{{ invoice.status }}</span>
                                {% else %}
                                    <span class="badge text-bg-secondary small">{{ invoice.status }}</span>
                                {% endif %}
                            </td>
                            <td scope="row" class="text-center small">
                                <a href="{% url 'transaction_invoices_detail' invoice.id %}" class="btn btn-outline-primary btn-sm">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="text-primary small">Previous</a>
        {% endif %}
    
        <span class="mx-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="text-primary small">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}