<!DOCTYPE html>
<html>
<head>
    <title>{{ purchase_invoice.invoice_no }}</title>
    <style>
        body { font-family: Arial, sans-serif; }
        table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f4f4f4; }
    </style>
</head>
<body>
    <p>Software License Number: </p>
    <p><strong>REPRINT</strong></p>
    <h1><strong>Sales Invoice No.:</strong> {{ purchase_invoice.invoice_no }}</h1>
    

    <table>
        <thead>
            <th colspan="2"><center>Purchase Order Details:</center></th>
            
        </thead>
        <tbody>
            <tr>
                <td><strong>Buyer Company:</strong> {{ purchase_invoice.buyer_company_name }}</td>
                <td><strong>Supplier Company:</strong> {{ purchase_invoice.supplier_company_name }}</td>
            </tr>
            <tr>
                <td rowspan="2"><strong>Buyer Address:</strong> {{ purchase_invoice.buyer_address }}</td>
                <td><strong>Supplier Address:</strong> {{ purchase_invoice.supplier_company_address }}</td>
            </tr>
            <tr>
                <td><strong>Supplier Contact:</strong> {{ purchase_invoice.supplier_company_contact }}</td>
            </tr>
            <tr>
                <td><strong>Buyer VAT Reg TIN:</strong> 123-456-789-00000</td>
                <td><strong>Supplier VAT Reg TIN:</strong> 123-456-789-00000 </td>
            </tr>
            <tr>
                <td>Prepared By:</strong> {{ purchase_invoice.supplier }}</td>
                <td>Order Status:</strong> {{ purchase_invoice.status }}</td>
            </tr>
        </tbody>
    </table>
    
    

    <h2>Items</h2>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Actual Unit</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.product_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.Actual Unit }}</td>
                <td>Php {{ item.unit_price }}</td>
                <td>Php {{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p><strong>Total Amount:</strong> Php {{ purchase_invoice.total_amount_payable }}</p>
    <p><strong>VAT:</strong> Php {{ vat|floatformat:2 }}</p>
    <p><strong>Total (VAT Inclusive):</strong> Php {{ purchase_invoice.total_amount_payable_with_vat }}</p>

    <p><strong>BIR Permit to Use:</strong> 123-456-789-00000 </p>
    <p><b>Invoice is only valid for up to 5 Years upon Issuance.</b></p>
    <p><strong>Date Issued:</strong> {{ purchase_invoice.date_issued }}</p>
</body>
</html>
