{% extends 'procurement_base.html' %}

{% block title %}Quotation Submission Details{% endblock %}

{% block content %}
<style>
.card {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-below-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.button-below-container a {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
</style>

<div class="card mt-5 mb-5 m-auto p-5 w-75">
    <h1 class="mb-4 text-center">Quotation Submission Details</h1>

    <div class="row mb-2">
        <div class="col-md-6">
            <p class="small text-muted mb-2"><strong>Buyer Company:</strong> {{ quotation_submission.buyer_company_name }}</p>
            <p class="small text-muted mb-2"><strong>Buyer Address:</strong> {{ quotation_submission.buyer_address }}</p>
            <hr>
            <p class="small text-muted mb-2"><strong>Supplier Company Name:</strong> {{ quotation_submission.supplier_company_name }}</p>
            <p class="small text-muted mb-2"><strong>Supplier Address:</strong> {{ quotation_submission.supplier_company_address }}</p>
            <p class="small text-muted mb-2"><strong>Supplier Contact:</strong> {{ quotation_submission.supplier_company_contact }}</p>
        </div>
        <div class="col-md-6">
            <p class="small text-muted mb-2"><strong>Quotation No:</strong> {{ quotation_submission.quotation_no }}</p>
            <p class="small text-muted mb-2"><strong>Quote Valid Until:</strong> {{ quotation_submission.quote_valid_until }}</p>
            <p class="small text-muted mb-2"><strong>Prepared By:</strong> {{ quotation_submission.supplier }}</p>
            <p class="small text-muted mb-2"><strong>Date Submitted:</strong> {{ quotation_submission.date_submitted }}</p>
            
        </div>
    </div>

    
    <div class="mb-4">
        <hr>
        <p class="small text-muted mb-2"><strong>Status:</strong>
            {% if quotation_submission.status == "Pending" %}
                <span class="text-warning">{{ quotation_submission.status }}</span>
            {% elif quotation_submission.status == "Accepted" %}
                <span class="text-success">{{ quotation_submission.status }}</span>
            {% elif quotation_submission.status == "Rejected" %}
                <span class="text-danger">{{ quotation_submission.status }}</span>
            {% else %}
                <span class="text-secondary">Unavailable</span>
            {% endif %}
        </p>
        
        {% if quotation_submission.status == "Pending" %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="accept" class="btn btn-sm btn-success">Accept</button>
                <button type="submit" name="reject" class="btn btn-sm btn-danger">Reject</button>
            </form>
        {% endif %}
        
        <p class="small text-muted mb-2"><strong>Terms and Conditions:</strong> {{ quotation_submission.terms_and_conditions }}</p>
    </div>


    <div class="mb-4" style="overflow-y: auto;">
        <hr>
        <table class="table table-hover" style="overflow-y: auto; width: 100%;">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><p class="small text-muted mb-0">Product Name</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Quantity</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Actual Unit</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Unit Price</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Total Price</p></th>
                    <th scope="col"><p class="small text-muted mb-0">Price Valid Until</p></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td scope="row"><p class="small text-muted mb-0">{{ item.product_name }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">{{ item.quantity }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">{{ item.measurement }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">₱ {{ item.unit_price }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">₱ {{ item.total_price }}</p></td>
                        <td scope="row"><p class="small text-muted mb-0">{{ item.price_valid_until }}</p></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center text-secondary">No items in this submission.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <div class="row mb-2">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <p class="small text-muted mb-2"><strong>Total Amount:</strong> ₱ {{ quotation_submission.total_amount }}</p>
                <p class="small text-muted mb-2"><strong>VAT (12%):</strong> ₱ {{ vat|floatformat:2 }}</p>
                <hr>
                <p class="small text-muted mb-2"><strong>Total Amount (VAT Inclusive):</strong> ₱ {{ quotation_submission.total_amount_with_vat }}</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center button-below-container">
    <a href="{% url 'view_supplier_quotations' quotation_submission.request_quotation.signed_id %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'download_supplier_quotation_pdf' quotation_submission.id %}" class="btn btn-primary">Download PDF</a> 
</div>
{% endblock %}
