<nav class="col-md-2 d-md-block bg-primary text-white sidebar" style="position: sticky; top: 0; height: 93vh;">
    <div class="position-sticky">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'request_quotations_list' %}">
                    <strong>View Request Quotations</strong>
                </a>

                <a class="nav-link text-white" href="{% url 'purchase_orders_list' %}">
                    <strong>View Purchase Orders</strong>
                </a>

                <a class="nav-link text-white" href="{% url 'purchase_invoices_list' %}">
                    <strong>View Purchase Invoices</strong>
                </a>
            </li>
            
        </ul>
    </div>
</nav>