<nav class="col-md-2 d-md-block bg-primary text-white sidebar" style="position: sticky; top: 0; height: 93vh;">
    <div class="position-sticky">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link text-white" href="">
                    <strong>Customize Favorites</strong>
                </a>
                <a class="nav-link text-white" href="{% url 'transaction_invoices' %}">
                    <strong>Transaction Invoices</strong>
                </a>
            </li>
            
        </ul>
    </div>
</nav>