<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sales Invoice - {{ invoice.invoice_no }}</title>
    <script>
       window.onload = function () {
            window.print();
            setTimeout(function () {
            // Redirect to the desired page
            window.location.href = "{% url 'pos_page' %}";
        }, 100); // 100ms delay
        }
         
          
    </script>
</head>
<body>
    <h1><strong>Sales Invoice No.:</strong> {{ invoice.invoice_no }}</h1>
    <p><strong>Date:</strong> {{ invoice.transaction_date }}</p>

    <table>
        <thead>
            <th colspan="2"><center>Sales Invoice Details:</center></th>
        </thead>
        <tbody>
            <tr><td><strong>Company Name:</strong> {{ invoice.company_name }}</td></tr>
            <tr><td><strong>Company Address:</strong> {{ invoice.company_address }}</td></tr>
            <tr><td><strong>Company Contact:</strong> {{ invoice.company_contact }}</td></tr>
            <tr><td><strong>Company VAT Reg TIN:</strong> 123-456-789-00000</td></tr>
            <tr><td><strong>Cashier:</strong> {{ invoice.employee_id }}</td><td><strong>Status:</strong> {{ invoice.status }}</td></tr>
        </tbody>
    </table>

    <h2>Items</h2>
    <table>
        <thead>
            <tr><th>Product Name</th><th>Quantity</th><th>Unit Price</th><th>Total Price</th></tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.product_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>Php {{ item.unit_price }}</td>
                <td>Php {{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><strong>Total Amount:</strong> Php {{ invoice.total_amount }}</p>
    <p><strong>VAT:</strong> Php {{ vat|floatformat:2 }}</p>
    <p><strong>Total (VAT Inclusive):</strong> Php {{ invoice.total_amount_with_vat }}</p>

    <footer>
        <p>Transaction completed successfully. Thank you for your purchase!</p>
    </footer>
</body>
</html>
