<nav class="col-md-2 d-md-block bg-primary text-white sidebar" style="position: sticky; top: 0; height: 93vh;">
    <div class="position-sticky">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'create_request_quotation' %}">
                    <strong>Create Request Quotation</strong>
                </a>

                <a class="nav-link text-white" href="{% url 'create_quotation_submission' %}">
                    <strong>Create Quotation Submission</strong>
                </a>

                <a class="nav-link text-white" href="{% url 'create_purchase_request' %}">
                    <strong>Create Purchase Request</strong>
                </a>

                <a class="nav-link text-white" href="{% url 'request_quotation_list' %}">
                    <strong>Quotations</strong>
                </a>
            </li>
            
        </ul>
    </div>
</nav>