{% extends 'login_base.html' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<style>
    .box-container {
        display: flex;
    }
    
    .left-box-container {
        height: 100%;
        width: 50%;
    }

    .right-box-container {
        height: 100%;
        width: 50%;
    }
</style>

<div class="box-container">
    <div class="left-box-container">
        <a class="button-container" href="{% url 'login' %}" >
            <i class="bi bi-person-fill"></i>
            Login
        </a>

        <div class="separator-container">
            <hr class="line-separator" />
            <span class="or-separator">or</span>
            <hr class="line-separator" />
        </div>

        <span class="create-account-separator">Create an account</span>

        <a class="button-container" href="{% url 'employee_signup_page' %}">
            <i class="bi bi-briefcase-fill"></i>
            Sign Up as Employee
        </a>

        <a class="button-container" href="{% url 'supplier_signup_page' %}">
            <i class="bi bi-box-seam"></i>
            Sign Up as Supplier
        </a>
    </div>

    <div class="right-box-container">
        <div class="title-container">
            <h1 class="">Welcome!</h1>
        </div>
    </div>
</div>
{% endblock %}
