{% extends 'login_base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
<style>
@media screen and (max-width: 1441px) {
    .card-body {
        padding: 40px;
        max-height: 550px;
        max-width: 500px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    h1 {
        font-size: 32px;
    }

    label {
        font-size: 14px;
        margin-left: 10px;
    }

    a {
        font-size: 13px;
        text-decoration: none; 
        color: black;
    }

    .invalid-feedback {
        margin-top: 5px;
        font-size: 12px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-width: 100%;
        color: red;
        display: block;
    }

    .input-group {
        position: relative;
    }

    .form-control {
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        height: 35px;
        width: 100%;
        max-width: 100%;
    }

    .btn {
        font-size: 16px;
        border-radius: 10px;
        height: 50px;
    }
}

@media screen and (max-width: 769px) { 
    .card-body {
        max-height: 100%;
        max-width: 100%;
        border-radius: 0px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    }
}

@media screen and (max-width: 577px) {
    h1 {
        font-size: 28px;
    }

    .btn {
        font-size: 12px;
        max-width: 75%;
    }

    label {
        font-size: 12px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mb-3 {
        width: 75%;
    }

    .captcha-container {
        display: flex;
        justify-content: center;
        transform: scale(0.7);
    }
}
</style>

<div class="card-body d-flex position-relative flex-column justify-content-center align-items-center w-100 h-100">
    <div class="d-flex position-relative align-items-center justify-content-start mb-5 w-75">
        <a href="{% url 'landing_page' %}">
            <i class="bi bi-arrow-left fs-5" placeholder="Back"></i>
        </a>
        <h1 class="card-title text-center w-100">Log In</h1>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="username" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                <i class="bi bi-person-fill"></i>
                Username
            </label>
            <div class="input-group has-validation position w-100">
                <input type="text" class="form-control" id="username" name="username" value="{{ form.username.value|default:'' }}" placeholder="Username">
                {% if form.username.errors %}
                    <div class="invalid-feedback">
                        Invalid username.
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                <i class="bi bi-key-fill"></i>
                Password
            </label>
            <div class="input-group has-validation position w-100">
                <input type="password" class="form-control" id="password" name="password" value="{{ form.password.value|default:'' }}" placeholder="********">
                {% if form.password.errors %}
                    <div class="invalid-feedback">
                        Invalid password.
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="mb-3">
            <label for="captcha" class="form-label text-start fw-bold w-100 mb-1">Captcha</label>
            <div class="captcha-container">
                {{ form.captcha }}
            </div>
            {% if form.captcha.errors %}
                <div class="invalid-feedback">
                    Invalid captcha.
                </div>
            {% endif %}
        </div>

        <div class="d-flex position-relative flex-column align-items-center justif-content-center w-100">
            <button type="submit" class="btn btn-primary w-100 fw-bold d-flex justify-content-center align-items-center">Login</button>
        </div>
    </form>
</div>
{% endblock %}
