{% extends 'login_base.html' %}

{% block title %}Supplier Sign Up Page{% endblock %}

{% block content %}
<style>
@media screen and (max-width: 1441px) {
    .card-body {
        padding: 40px;
        max-height: 600px;
        max-width: 800px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    h1 {
        font-size: 32px;
    }

    label {
        font-size: 14px;
        margin-left: 10px;
    }

    a {
        font-size: 13px;
        text-decoration: none;
        color: black;
    }

    .invalid-feedback {
        margin-top: 5px;
        font-size: 12px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-width: 100%;
        color: red;
        display: block;
    }

    .input-group {
        position: relative;
    }

    .form-control {
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        height: 35px;
        width: 100%;
        max-width: 100%;
    }

    .btn {
        font-size: 16px;
        border-radius: 10px;
        height: 50px;
    }
}

@media screen and (max-width: 769px) {
    .card-body {
        height: 100%;
        max-width: 100%;
        border-radius: 0px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
        overflow-y: auto;
    }

    .header-container {
        margin-top: 30px;
    }
}

@media screen and (max-width: 577px) {
    .card-body {
        overflow-x: hidden;
    }
    
    .input-fields-container {
        display: flex;
        flex-direction: column;
    }
    
    .header-container {
        margin-top: 600px;
    }

    h1 {
        font-size: 22px;
    }

    .btn {
        font-size: 12px;
        max-width: 75%;
    }

    label {
        font-size: 12px;
    }

    .col-md-4 {
        width: 230px;
    }

    .recaptcha-container {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .recaptcha-container label {
        margin-left: 100px;
    }

    .recaptcha-container .invalid-feedback {
        margin-left: 100px;
    }

    .captcha-container {
        display: flex;
        justify-content: center;
        transform: scale(0.7);
    }
}
</style>

<div class="card-body d-flex position-relative flex-column justify-content-center align-items-center w-100 h-100">
    <div class="header-container d-flex position-relative align-items-center justify-content-start mb-5 w-100">
        <a href="{% url 'landing_page' %}">
            <i class="bi bi-arrow-left fs-5 ms-2" placeholder="Back"></i>
        </a>
        <h1 class="card-title text-center w-100">Supplier Sign Up</h1>
    </div>


    <form method="post">
        {% csrf_token %}

        <div class="input-fields-container d-flex align-items-center justify-content-center gap-4">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="username" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-person-fill"></i>
                        Username
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="text" class="form-control" id="username" name="username" value="{{ form.username.value|default:'' }}" placeholder="Username">
                        {% if form.username.errors %}
                            <div class="invalid-feedback">
                                Invalid username.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="first_name" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-person-add"></i>
                        First Name
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ form.first_name.value|default:'' }}" placeholder="First Name">
                        {% if form.first_name.errors %}
                            <div class="invalid-feedback">
                                Invalid first name.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-person-add"></i>
                        Last Name
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ form.last_name.value|default:'' }}" placeholder="Last Name">
                        {% if form.last_name.errors %}
                            <div class="invalid-feedback">
                                Invalid last name.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label for="email" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-envelope-fill"></i>
                        Email Address
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value|default:'' }}" placeholder="Email">
                        {% if form.email.errors %}
                            <div class="invalid-feedback">
                                Invalid email address.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password1" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-key-fill"></i>
                        Password
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="password" class="form-control" id="password1" name="password1" value="{{ form.password1.value|default:'' }}" placeholder="********">
                        {% if form.password1.errors %}
                            <div class="invalid-feedback">
                                Invalid password
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password2" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-key"></i>
                        Confirm Password
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="password" class="form-control" id="password2" name="password2" value="{{ form.password2.value|default:'' }}" placeholder="********">
                        {% if form.password2.errors %}
                            <div class="invalid-feedback">
                                Passwords do not match.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label for="company_name" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-building"></i>
                        Company Name
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="text" class="form-control" id="company_name" name="company_name" value="{{ supplier_form.company_name.value|default:'' }}" placeholder="Company Name">
                        {% if supplier_form.company_name.errors %}
                            <div class="invalid-feedback">
                                Invalid company name
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="company_address" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-geo-alt-fill"></i>
                        Company Address
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="text" class="form-control" id="company_address" name="company_address" value="{{ supplier_form.company_address.value|default:'' }}" placeholder="Company Address">
                        {% if supplier_form.company_address.errors %}
                            <div class="invalid-feedback">
                                Invalid company address.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="company_contact" class="form-label d-flex align-items-center text-start fw-bold gap-1">
                        <i class="bi bi-telephone-fill"></i>
                        Company Contact
                    </label>
                    <div class="input-group has-validation w-100">
                        <input type="text" class="form-control" id="company_contact" name="company_contact" value="{{ supplier_form.company_contact.value|default:'' }}" placeholder="Company Contact">
                        {% if supplier_form.company_contact.errors %}
                            <div class="invalid-feedback">
                                Invalid company contact.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="recaptcha-container my-5 d-flex position-relative justify-content-center align-items-center gap-3 w-100">
            <label for="captcha" class="form-label text-start fw-bold w-100">Captcha:</label>
            <div class="captcha-container">
                {{ form.captcha }}
            </div>
            {% if form.captcha.errors %}
                <div class="invalid-feedback">
                    Invalid captcha.
                </div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-center align-items-center w-100">
            <button type="submit" class="btn btn-primary w-50 fw-bold">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
