{% extends 'supplier_base.html' %}

{% block title %}View Purchase Orders{% endblock %}

{% block content %}
<style>
.table-responsive {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}
</style>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Purchase Order List</h3>
    </div>

    <div class="table-responsive p-3 rounded-3 bg-light">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col" class="small">Purchase Order No.</th>
                    <th scope="col" class="small">Date Ordered</th>
                    <th scope="col" class="small">Delivery Date</th>
                    <th scope="col" class="small">Total Amount (VAT)</th>
                    <th scope="col" class="small">Status</th>
                    <th scope="col" class="text-center small">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for po in page_obj %}
                    <tr>
                        <th scope="row" class="small">{{ po.quotation_no }}</th>
                        <td scope="row" class="small">{{ po.date_ordered }}</td>
                        <td scope="row" class="small">{{ po.delivery_date }}</td>
                        <td scope="row" class="small">₱ {{ po.total_amount_with_vat|floatformat:2 }}</td>
                        <td scope="row" class="small">
                            {% if po.status == STATUS_0 %}
                                <span class="badge text-bg-warning small">{{ po.status }}</span>
                            {% elif po.status == STATUS_1 %}
                                <span class="badge text-bg-success small">{{ po.status }}</span>
                            {% elif po.status == STATUS_2 %}
                                <span class="badge text-bg-danger small">{{ po.status }}</span>
                            {% elif po.status == "Delivered" %}
                                <span class="badge text-bg-primary small">{{ po.status }}</span>
                            {% elif po.status == "Received" %}
                                <span class="badge text-bg-success small">{{ po.status }}</span>
                                {% elif po.status == "Cancelled" %}
                                <span class="badge text-bg-secondary small">{{ po.status }}</span>
                            {% else %}
                                <span class="badge bg-light text-dark small">{{ Unavailable }}</span>
                            {% endif %}
                        </td>
                        <td scope="row" class="text-center small">
                            <a href="{% url 'purchase_orders_detail' po.signed_id %}" class="btn btn-outline-primary btn-sm">Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=6 class="text-center">No purchase orders available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="text-primary small">Previous</a>
        {% endif %}
    
        <span class="mx-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="text-primary small">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}
