{% extends 'supplier_base.html' %}

{% block title %}View Purchase Invoice Details{% endblock %}

{% block content %}
<style>
.card {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.button-below-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.button-below-container a {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
</style>

<div class="card mt-5 mb-5 m-auto p-5 w-75">
    <h3 class="mb-4 text-center">Purchase Invoice Details</h3>
    
    <div class="row mb-2">
        <div class="col-md-6">
            <p class="small text-muted mb-2"><strong>Buyer Company Name:</strong> {{ purchase_invoice.buyer_company_name }}</p>
            <p class="small text-muted mb-2"><strong>Buyer Address:</strong> {{ purchase_invoice.buyer_address }}</p>
            <hr>
            <p class="small text-muted mb-2"><strong>Supplier Company Name:</strong> {{ purchase_invoice.supplier_company_name }}</p>
            <p class="small text-muted mb-2"><strong>Supplier Address:</strong> {{ purchase_invoice.supplier_company_address }}</p>
            <p class="small text-muted mb-2"><strong>Supplier Contact:</strong> {{ purchase_invoice.supplier_company_contact }}</p>
        </div>
        <div class="col-md-6">
            <p class="small text-muted mb-2"><strong>Invoice No.:</strong> {{ purchase_invoice.invoice_no }}</p>
            <p class="small text-muted mb-2"><strong>Date Issued:</strong> {{ purchase_invoice.date_issued }}</p>
            <p class="small text-muted mb-2"><strong>Prepared By:</strong> {{ purchase_invoice.supplier }}</p>
        </div>
    </div>

    <div class="mb-4">
        <hr>
        <p class="small text-muted mb-2"><strong>Invoice Status:</strong> 
            {% if purchase_invoice.status == STATUS_0 %}
                <span class="text-warning">{{ purchase_invoice.status }}</span>
            {% elif purchase_invoice.status == STATUS_1 %}
                <span class="text-success">{{ purchase_invoice.status }}</span>
            {% elif purchase_invoice.status == STATUS_2 %}
                <span class="text-danger">{{ purchase_invoice.status }}</span>
            {% else %}
                <span class="text-secondary">Unavailable</span>
            {% endif %}
        </p>

        {% if purchase_invoice.purchase_order.status == "Delivered" and purchase_invoice.status == "Pending" %}
            <form method="post" class="mt-0">
                {% csrf_token %}
                <button type="submit" name="paid" class="btn btn-sm btn-success">Paid</button>
                <button type="submit" name="voided" class="btn btn-sm btn-danger">Void</button>
            </form>
        {% endif %}
    </div>

    <div class="mb-4" style="overflow-y: auto;">
        <hr>
        <table class="table table-hover" style="overflow-y: auto; width: 100%;">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><p class="small text-muted mb-0">Product Name</th>
                    <th scope="col"><p class="small text-muted mb-0">Quantity</th>
                    <th scope="col"><p class="small text-muted mb-0">Actual Unit</th>
                    <th scope="col"><p class="small text-muted mb-0">Unit Price</th>
                    <th scope="col"><p class="small text-muted mb-0">Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.measurement }}</td>
                        <td>₱ {{ item.unit_price }}</td>
                        <td>₱ {{ item.total_price }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-secondary">No items found for this Invoice.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <div class="row mb-2">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <p class="small text-muted mb-2"><strong>Total Amount:</strong> ₱ {{ purchase_invoice.total_amount_payable }}</p>
                <p class="small text-muted mb-2"><strong>VAT (12%):</strong> ₱ {{ vat|floatformat:2 }}</p>
                <hr>
                <p class="small text-muted mb-2"><strong>Total Amount (VAT Inclusive):</strong> ₱ {{ purchase_invoice.total_amount_payable_with_vat }}</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center button-below-container">
    <a href="{% url 'purchase_invoice_list' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'download_purchase_invoices_pdf' purchase_invoice.id %}" class="btn btn-primary">Download PDF</a>
</div>
{% endblock %}
