{% extends 'supplier_base.html' %}

{% block title %}View Submitted Quotations{% endblock %}

{% block content %}
<style>
.table-responsive {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}
</style>

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Quotation Submissions</h3>
    </div>

    <div class="table-responsive p-3 rounded-3 bg-light">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col" class="small">Quotation No.</th>
                    <th scope="col" class="small">Prepared By</th>
                    <th scope="col" class="small">Total Amount (VAT Inclusive)</th>
                    <th scope="col" class="small">Valid Until</th>
                    <th scope="col" class="small">Status</th>
                    <th scope="col" class="text-center small">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for qs in page_obj %}
                    <tr>
                        <th scope="row" class="small">{{ qs.quotation_no }}</th>
                        <td class="small">{{ qs.supplier }}</td>
                        <td class="small">₱ {{ qs.total_amount_with_vat }}</td>
                        <td class="small">{{ qs.quote_valid_until }}</td>
                        <td class="small">
                            {% if qs.status == STATUS_0 %}
                                    <span class="badge text-bg-warning">{{ qs.status }}</span>
                                {% elif qs.status == STATUS_1 %}
                                    <span class="badge text-bg-success">{{ qs.status }}</span>
                                {% elif qs.status == STATUS_2 %}
                                    <span class="badge text-bg-danger">{{ qs.status }}</span>
                                {% else %}
                                    <span class="badge bg-light text-dark">{{ Unavailable }}</span>
                                {% endif %}
                        </td>
                        <td class="text-center small">
                            <a href="{% url 'quotation_submission_detail' qs.signed_id %}" class="btn btn-outline-primary btn-sm">Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-muted small">No quotation submissions available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="text-primary small">Previous</a>
        {% endif %}
    
        <span class="mx-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="text-primary small">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}
