<style>
.side-nav-container {
    padding: 20px;
    position: sticky;
    display: flex;
    flex-direction: column;
    background-color: Blue;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 300px;
    gap: 10px;
}
</style>

<div class="side-nav-container">
    <div class="nav-item">
        <a class="nav-link text-white fw-bold" href="{% url 'dashboard' %}">
            <strong>View Dashboard</strong>
        </a>
    </div>

    <div class="nav-item">
        <a class="nav-link text-white fw-bold" href={% url 'financial_dashboard' %}>
            <strong>View Financial Dashboard</strong>
        </a>
    </div>
</div>
