{% extends "dashboard_base.html" %}

{% load custom_filters %}

{% block content %}
<style>
.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit the number of lines to 3 (or adjust as needed) */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis at the end */
    max-height: 100%;

    line-clamp: 2; /* Standard line-clamp property */
    box-orient: vertical;
}

.title-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.dashboard-container {
    background-color: #8E0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    gap: 20px;
    border-radius: 10px;
    height: 860px;
    width: 1200px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .7);
}

.dashboard-container2 {
    background-color: #8E0D0D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    gap: 10px;
    border-radius: 10px;
    height: 430px;
    width: 1200px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .7);
}

.inventory-upper-container,
.inventory-bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

.inventory-upper-left-container,
.inventory-upper-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.inventory-upper-left-left-container,
.inventory-upper-left-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.data-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50%;
    width: 100%;
}

.data-container2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    height: 50%;
    width: 100%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.dashboard-datas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.data-container3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    width: 90%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.inventory-upper-right-container {
    background-color: white;
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.data-container4,
.data-container5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    gap: 30px;
}

.top-waste-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 30%;
    gap: 10px;
}

.top-waste-container span {
    text-align: center;
    background-color: #8E0D0D; 
    width: 50px; 
    height: 85px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.inventory-bottom-left-container {
    background-color: white;
    height: 100%;
    width: 49%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.inventory-bottom-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 100%;
    width: 50%;
}

.inventory-bottom-right-upper-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 49%;
    width: 100%;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.data-container6,
.data-container7 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.data-container8 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.inventory-bottom-right-bottom-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 49%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.procurement-left-container {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-container11 {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.data-container9 {
    background-color: white;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.procurement-right-container {
    background-color: white;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.all-data-container10 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-container10 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




.title-container h3 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.icon {
    font-size: 32px;
}

.data-container1 h3,
.data-container11 h3 {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.data-container2 span {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.data-container2 h3,
.data-container3 h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #8E0D0D;
}

.data-container3 span {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.inventory-upper-right-container span {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.data-container4 h3,
.data-container5 h3 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #8E0D0D;
}

.inventory-bottom-left-container span {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.data-container6 span,
.data-container7 span {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.data-container6 h3,
.data-container7 h3 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #8E0D0D;
}

.inventory-bottom-right-bottom-container span {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.inventory-bottom-right-bottom-container h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #8E0D0D;
}

.procurement-left-container span {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.data-container9 h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #8E0D0D;
}

.procurement-right-container h2 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
}

.procurement-right-container span {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.data-container10 h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #8E0D0D;
}

@media screen and (max-width: 1350px) {
    .dashboard-container,
    .dashboard-container2 {
        margin: 20px;
    }

    .dashboard-container {
        height: 860px;
        width: 1000px;
    }

    .dashboard-container2 {
        height: 430px;
        width: 1000px;
    }

    .title-container h3 {
        font-size: 38px;
    }

    .icon {
        font-size: 28px;
    }

    .data-container1 h3,
    .data-container11 h3 {
        font-size: 34px;
    }

    .data-container2 span {
        font-size: 24px;
    }

    .data-container2 h3,
    .data-container3 h3 {
        font-size: 24px;
    }

    .data-container3 span {
        font-size: 18px;
    }

    .inventory-upper-right-container span {
        font-size: 24px;
    }

    .data-container4 h3,
    .data-container5 h3 {
        font-size: 30px;
    }

    .inventory-bottom-left-container span {
        font-size: 24px;
    }

    .data-container6 span,
    .data-container7 span {
        font-size: 18px;
    }

    .data-container6 h3,
    .data-container7 h3 {
        font-size: 30px;
    }

    .inventory-bottom-right-bottom-container span {
        font-size: 24px;
    }

    .inventory-bottom-right-bottom-container h3 {
        font-size: 24px;
    }

    .procurement-left-container span {
        font-size: 16px;
    }

    .data-container9 h3 {
        font-size: 24px;
    }

    .procurement-right-container h2 {
        font-size: 38px;
    }

    .procurement-right-container span {
        font-size: 16px;
    }

    .data-container10 h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 820px) {
    .dashboard-container {
        height: 660px;
        width: 750px;
    }

    .dashboard-container2 {
        height: 350px;
        width: 750px;
    }

    .title-container h3 {
        font-size: 32px;
    }

    .icon {
        font-size: 22px;
    }

    .data-container1 h3,
    .data-container11 h3 {
        font-size: 24px;
    }

    .data-container2 span {
        font-size: 18px;
    }

    .data-container2 h3,
    .data-container3 h3 {
        font-size: 18px;
    }

    .data-container3 span {
        font-size: 14px;
    }

    .top-waste-container {
        height: 70%;
    }

    .top-waste-container span {
        width: 35px;
        height: 50px;
    }

    .inventory-upper-right-container span {
        font-size: 18px;
    }

    .data-container4 h3,
    .data-container5 h3 {
        font-size: 24px;
    }

    .inventory-bottom-left-container span {
        font-size: 18px;
    }

    .data-container6 span,
    .data-container7 span {
        font-size: 16px;
    }

    .data-container6 h3,
    .data-container7 h3 {
        font-size: 24px;
    }

    .inventory-bottom-right-bottom-container span {
        font-size: 18px;
    }

    .inventory-bottom-right-bottom-container h3 {
        font-size: 18px;
    }

    .procurement-left-container span {
        font-size: 14px;
    }

    .data-container9 h3 {
        font-size: 18px;
    }

    .procurement-right-container h2 {
        font-size: 20px;
    }

    .procurement-right-container span {
        font-size: 10px;
    }

    .data-container10 h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 520px) {
    .title-container {
        margin: 20px;
    }

    .dashboard-container,
    .dashboard-container2{
        padding: 10px;
        margin: 10px;
    }

    .dashboard-container {
        height: 720px;
        width: 300px;
    }

    .dashboard-container2 {
        height: 250px;
        width: 300px;
    }




    .inventory-upper-container,
    .inventory-bottom-container {
        flex-direction: column;
        gap: 10px;
    }

    .inventory-upper-left-container,
    .inventory-upper-right-container,
    .inventory-bottom-left-container,
    .inventory-bottom-right-container {
        width: 100%;
    }

    .dashboard-container2 {
        flex-direction: column;
    }

    .procurement-left-container{
        flex-direction: row;
        width: 100%;
    }

    .procurement-right-container {
        width: 100%;
    }

    .all-data-container10 {
        justify-content: space-between;
    }

    .data-container9,
    .data-container10,
    .data-container11 {
        height: 100%;
    }



     
    .title-container h3 {
        font-size: 18px;
    }

    .icon {
        font-size: 12px;
    }

    .data-container1 h3,
    .data-container11 h3 {
        font-size: 14px;
    }

    .data-container2 span {
        font-size: 12px;
    }

    .data-container2 h3,
    .data-container3 h3 {
        font-size: 14px;
    }

    .data-container3 span {
        font-size: 10px;
    }

    .top-waste-container {
        height: 85%;
    }

    .top-waste-container span {
        width: 25px;
        height: 40px;
    }

    .inventory-upper-right-container span {
        font-size: 16px;
    }

    .data-container4 h3,
    .data-container5 h3 {
        font-size: 14px;
    }

    .inventory-bottom-left-container span {
        font-size: 16px;
    }

    .data-container6 span,
    .data-container7 span {
        font-size: 12px;
    }

    .data-container6 h3,
    .data-container7 h3 {
        font-size: 14px;
    }

    .inventory-bottom-right-bottom-container span {
        font-size: 16px;
    }

    .inventory-bottom-right-bottom-container h3 {
        font-size: 14px;
    }

    .procurement-left-container span {
        font-size: 12px;
    }

    .data-container9 h3 {
        font-size: 14px;
    }

    .procurement-right-container h2 {
        font-size: 16px;
    }

    .procurement-right-container span {
        font-size: 10px;
    }

    .data-container10 h3 {
        font-size: 8px;
    }
}
</style>

<div class="box-container">
    <div class="title-container">
        <h3>Inventory-Procurement Analytics</h3>
    </div>

    <div class="dashboard-container">
        <div class="inventory-upper-container">
            <div class="inventory-upper-left-container">
                <div class="inventory-upper-left-left-container">
                    <div class="data-container1">
                        <div class="dashboard-datas">
                            <h3 class="text-light">Inventory Dashboard</h3>
                        </div>
                    </div>

                    <div class="data-container2">
                        <span class="fixed-width-title fw-bold">Total Products</span>
                        <div class="dashboard-datas">
                            <i class="icon bi bi-box-seam"></i>
                            <h3>{{ total_products|format_large_number|default:"0" }}</h3>
                        </div>
                    </div>
                </div>

                <div class="inventory-upper-left-right-container">
                    <div class="data-container3">
                        <span class="fixed-width-title fw-bold">Estimated Inventory</span>
                        <div class="dashboard-datas">
                            <i class="icon bi bi-box2"></i>
                            <h3>{{ total_inventory|format_large_number|default:"0" }}</h3>
                        </div>

                        <span class="fixed-width-title fw-bold">Inventory Value</span>
                        <div class="dashboard-datas">
                            <i class="icon bi bi-cash-coin"></i>
                            <h3>₱{{ total_inventory_value|format_large_number|default:"0.00" }}</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inventory-upper-right-container">
                <span class="fixed-width-title fw-bold"><i class="bi bi-exclamation-circle"></i>  3 Most Wasted Products</span>

                <div class="data-container4">
                    <div class="top-waste-container">
                        <div class="dashboard-datas">
                            <h3 class="ellipsis">{{ top_1_wasted_product.product__name|default:"N/A" }}</h3>
                        </div>
                        <span style="color: #FF0000;">1</span>
                    </div>
                    
                    <div class="top-waste-container">
                        <div class="dashboard-datas">
                            <h3 class="ellipsis">{{ top_2_wasted_product.product__name|default:"N/A" }}</h3>
                        </div>
                        <span style="color: #FFA500;">2</span>
                    </div>

                    <div class="top-waste-container">
                        <div class="dashboard-datas">
                            <h3 class="ellipsis">{{ top_3_wasted_product.product__name|default:"N/A" }}</h3>
                        </div>
                        <span style="color: #FFD700;">3</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="inventory-bottom-container">
            <div class="inventory-bottom-left-container">
                <span class="fixed-width-title fw-bold"><i class="bi bi-trophy"></i>  3 Most Sold Products</span>

                
                <div class="data-container5">
                    <div class="top-waste-container">
                        <div class="dashboard-datas">
                            <h3 class="ellipsis">{{ top_1_sold_product.product_name|default:"N/A" }}</h3>
                        </div>
                        <span style="color: #FFD700">1</span>
                    </div>
                    
                    <div class="top-waste-container">
                        <div class="dashboard-datas">
                            <h3 class="ellipsis">{{ top_2_sold_product.product_name|default:"N/A" }}</h3>
                        </div>
                        <span style="color: #C0C0C0;">2</span>
                    </div>
                    
                    <div class="top-waste-container">
                        <div class="dashboard-datas">
                            <h3 class="ellipsis">{{ top_3_sold_product.product_name|default:"N/A" }}</h3>
                        </div>
                        <span style="color: #CD7F32;">3</span>
                    </div>
                </div>
            </div>

            <div class="inventory-bottom-right-container">
                <div class="inventory-bottom-right-upper-container">
                    <div class="data-container8">
                        <div class="data-container6">
                            <span class="fixed-width-title fw-bold">Estimated Waste</span>
                            <div class="dashboard-datas">
                                <i class="icon bi bi-trash"></i>
                                <h3>{{ total_waste|format_large_number|default:"0" }}</h3>
                            </div>
                        </div>
                        
                        <div class="data-container7">
                            <span class="fixed-width-title fw-bold">Waste Cost</span>
                            <div class="dashboard-datas">
                                <i class="icon bi bi-trash"></i>
                                <h3>₱{{ waste_cost|format_large_number|default:"0.00" }}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inventory-bottom-right-bottom-container">
                    <span class="fixed-width-title fw-bold"><i class="bi bi-graph-down-arrow"></i>  Low Stock Products</span>
                    <div class="dashboard-datas">
                        <h3>{{ low_stock_products|format_large_number|default:"0" }}</h3>
                        <a href="{% url 'low_stock_products' %}" class="text-decoration-none text-secondary" style="display: flex; align-items: center; justify-content: center;">
                            <i class="bi bi-eye-fill"></i>
                              View
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dashboard-container2">
        <div class="procurement-left-container">
            <div class="data-container11">
                <div class="dashboard-datas">
                    <h3 class="text-light">Procurement Dashboard</h3>
                </div>
            </div>
            
            <div class="data-container9">
                <span class="fixed-width-title fw-bold">Ongoing Quotations</span>
                <div class="dashboard-datas">
                    <i class="icon bi bi-file-earmark-post"></i>
                    <h3>{{ total_ongoing_rq|format_large_number|default:"0" }}</h3>
                </div>
            </div>
        </div>
            
        <div class="procurement-right-container">
            <div class="procurement-right-container-title">
                <h2><i class="icon bi bi-cart2"></i>  Purchase Orders</h2>
            </div>

            <div class="all-data-container10">
                <div class="data-container10">
                    <span class="fixed-width-title fw-bold">To be Approved</span>
                    <div class="dashboard-datas">
                        <i class="icon bi bi-hourglass-split"></i> 
                        <h3>{{ total_pending_pr|format_large_number|default:"0" }}</h3>
                    </div>
                </div>
                
                <div class="data-container10">
                    <span class="fixed-width-title fw-bold">To be Delivered</span>
                    <div class="dashboard-datas">
                        <i class="icon bi bi-truck"></i> 
                        <h3>{{ total_approved_pr|format_large_number|default:"0" }}</h3>
                    </div>
                </div>
                
                <div class="data-container10">
                    <span class="fixed-width-title fw-bold">To be Received</span>
                    <div class="dashboard-datas">
                        <i class="icon bi bi-box-arrow-in-left"></i> 
                        <h3>{{ total_Delivered_pr|format_large_number|default:"0" }}</h3>
                    </div>
                </div>
                
                <div class="data-container10">
                    <span class="fixed-width-title fw-bold">To be Paid</span>
                    <div class="dashboard-datas">
                        <i class="icon bi bi-credit-card"></i>
                        <h3>{{ total_Delivered_pr|format_large_number|default:"0" }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
