{% extends "dashboard_base.html" %}

{% load custom_filters %}

{% block content %}
<style>
    .title-container {
        display: flex;
        align-items-center;
        justify-content: start;
        margin: 40px;
    }

    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin: 40px;
        gap: 20px;
    }

    .dashboard-datas {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 150px;
        width: 150px;
    }
</style>

<div class="title-container">
    <h3>Inventory Dashboard</h3>
</div>

<div class="dashboard-container">
    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_products|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-box-seam"></i>
        <span class="fixed-width-title fw-bold">Total Products</span>
    </div>

    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ low_stock_products|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-exclamation-circle"></i>
        <span class="fixed-width-title fw-bold">Low Stock Products</span>
        <a href="{% url 'low_stock_products' %}" class="text-decoration-none text-secondary small">
            Click to View
        </a>
    </div>

    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_inventory|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-box2"></i>
        <span class="fixed-width-title fw-bold">Estimated Inventory</span>
    </div>

    <div class="dashboard-datas">
        <h3 class="text-secondary">₱{{ total_inventory_value|format_large_number|default:"0.00" }}</h3>
        <i class="icon bi bi-cash-coin"></i>
        <span class="fixed-width-title fw-bold">Estimated Inventory Value</span>
    </div>

    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_waste|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-trash"></i>
        <span class="fixed-width-title fw-bold">Estimated Waste</span>
    </div>

    <div class="dashboard-datas">
        <h3 class="text-secondary">₱{{ waste_cost|format_large_number|default:"0.00" }}</h3>
        <i class="icon bi bi-cash"></i>
        <span class="fixed-width-title fw-bold">Estimated Waste Cost</span>
    </div>

    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ top_wasted_product.product__name|default:"N/A" }}</h3>
        <i class="icon bi bi-trash-fill"></i>
        <span class="fixed-width-title fw-bold">Top Wasted Product</span>
    </div>
</div>


<div class="title-container">
    <h3>Procurement Dashboard</h3>
</div>

<div class="dashboard-container">
    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_ongoing_rq|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-file-earmark-post"></i> 
        <span class="fixed-width-title fw-bold">Ongoing Quotations</span>
    </div>
    
    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_pending_pr|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-hourglass-split"></i> 
        <span class="fixed-width-title fw-bold">Purchase Requests to Approve</span>
    </div>
    
    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_approved_pr|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-truck"></i> 
        <span class="fixed-width-title fw-bold">Purchase Orders to Deliver</span>
    </div>
    
    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_Delivered_pr|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-box-arrow-in-left"></i> 
        <span class="fixed-width-title fw-bold">Purchase Orders to Receive</span>
    </div>
    
    <div class="dashboard-datas">
        <h3 class="text-secondary">{{ total_Delivered_pr|format_large_number|default:"0" }}</h3>
        <i class="icon bi bi-credit-card"></i>
        <span class="fixed-width-title fw-bold">Purchase Orders to be Paid</span>
    </div>
</div>
{% endblock %}
