{% extends "dashboard_base.html" %}

{% block content %}
<style>
.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.table-container {
        width: 100%;
        padding: 0px 40px;
    }
</style>

<div class="title-container">
    <h1>Low Stock Products</h1>
</div>

<div class="table-container">
    <div class="table-responsive p-3 rounded-3 bg-light shadow-sm">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th scope="col" class="text-truncate small">Name</th>
                    <th scope="col" class="text-truncate small">Category</th>
                    <th scope="col" class="text-truncate small">Quantity</th>
                    <th scope="col" class="text-truncate small">Measurement</th>
                    <th scope="col" class="text-truncate small">Reorder Level</th>
                </tr>
            </thead>

            <tbody>
                {% for product in product_instance %}
                    <tr>
                        <td scope="row" class="text-truncate small">{{ product.name }}</td>
                        <td scope="row" class="text-truncate small">{{ product.category }}</td>
                        <td scope="row" class="text-truncate small">{{ product.quantity }}</td>
                        <td scope="row" class="text-truncate small">{{ product.measurement }}</td>
                        <td scope="row" class="text-truncate small">{{ product.reorder_level }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}
