{% extends "inventory_base.html" %}

{% block content %}
    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {% endif %}

    {% endfor %}

    <a href="{% url 'existing_product_page' %}" class="btn btn-secondary mb-3">
        <i class="bi bi-arrow-bar-left"></i>
        Back
    </a>

    <h1>Restock Product: {{ product.name }}</h1>

    <form method="post">
        {% csrf_token %}
    
        <p>SKU:</p>
        {{ form.sku }}

        {% for field in form %}
            {% if field.name != 'sku' %}
                <input type="hidden" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
            {% endif %}
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}
