{% extends 'inventory_base.html' %}

{% block title %}Add to Waste{% endblock %}

{% block content %}
    <h1>Confirm Transfer to Waste</h1>

    <form method="post">
        {% csrf_token %}

        <p>Are you sure you want to transfer <strong>{{ product.name }}</strong> to waste?</p>

        <a href="{% url 'filter_product_list' %}" class="btn btn-secondary mb-3">
            <i class="bi bi-arrow-left"></i> 
            Cancel
        </a>

        <button type="submit" class="btn btn-danger">Yes</button>
    </form>
{% endblock %}
