{% extends 'inventory_base.html' %}

{% block title %}Add Stock Choice{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        <h1>Add Product</h1>
        
        <div class="row justify-content-center mt-4" >
            <div class="col-auto" style="display: flex; flex-direction: column;">
                <a href="{% url 'add_product_type' %}" class="btn btn-primary btn-lg" style="width: 200px; height: 150px; display: flex; flex-direction: column;">
                    <i class="bi bi-bag-plus" style="font-size: 3.5rem;"></i>
                    New Item
                </a>
            </div>
            
            <div class="col-auto" style="display: flex; flex-direction: column;">
                <a href="{% url 'existing_product_page' %}" class="btn btn-secondary btn-lg" style="width: 200px; height: 150px; display: flex; flex-direction: column;">
                    <i class="bi bi-box-seam" style="font-size: 3.5rem;"></i>
                    Existing Item
                </a>
            </div>
        </div>
    </div>
{% endblock %}
