{% extends 'inventory_base.html' %}

{% block title %}Filter Product List{% endblock %}

{% block content %}
    <h1>Transfer Product to Waste</h1>

    <form method="get" class="mb-3">
        <div class="d-flex flex-wrap gap-3">
            <div class="mb-3">
                <label for="id_sku" class="form-label">SKU</label>
                <input type="text" class="form-control" id="id_sku" name="sku">
            </div>
        
            <div class="mb-3">
                <label for="id_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="id_name" name="name">
            </div>

            <div class="mb-3">
                <label for="id_product_type" class="form-label">Product Type</label>
                <select class="form-control" name="product_type">
                    {% for value, label in form.product_type.field.widget.choices %}
                        <option value="{{ value }}" {% if value == form.product_type.value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="mb-3">
                <label for="id_category" class="form-label">Category</label>
                <select class="form-control" id="id_category" name="category">
                    {% for value, label in form.category.field.widget.choices %}
                        <option value="{{ value }}" {% if value == form.category.value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Filter</button>
    </form>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.sku }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.name }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.category }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.quantity }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">
                        <a href="{% url 'add_to_waste' product.id %}">
                            <i class="bi bi-trash3-fill" style="color: red; font-size: 20px;"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
