{% extends "inventory_base.html" %}

{% block content %}
    <h1>Product List</h1>

    <form method="get" class="mb-3">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Brand</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.sku }}</td>
                <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.name }}</td>
                <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.category }}</td>
                <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.price }}</td>
                <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.brand }}</td>
                <td class="text-truncate" style="max-width: 150px; height: 50px;">
                    <a href="{% url 'add_existing_product' product.id %}">
                        Create Variant
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
