<div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="top: 0; height: 7vh;">
        <a class="navbar-brand" href="{% url '' %}">My Hardware Store</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url '' %}">POS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url '' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url '' %}">Purchase Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
