{% extends 'inventory_base.html' %}

{% block title %}Product View{% endblock %}

{% block content %}
    <p class="h1">View Product: 
        <small class="text-muted">{{ product.name }}</small>
    </p>
    <!-- QR Code Display -->
    <div class="code-container-wrapper">
        <div class="code-container">
            <img src="{{ qr_code }}" alt="QR Code for {{ product.name }}" />
            

            <img src="{{ barcode }}" alt="Barcode for {{ product.name }}" />
            
        </div>
    </div>

    
    <div class="mb-3">
        <div class="col-md-6 mb-3">
            <p class="h3">SKU:</p>
            <small class="text-muted">{{ product.sku }}</small>
        </div>
    </div>
    
    <div class="row">
        <div class="mb-3">
            <div class="col-md-6 mb-3">
                <p class="h3">Category:</p>
                <small class="text-muted">{{ product.category }}</small>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <p class="h3">Selling Price:</p>
            <small class="text-muted">₱{{ product.selling_price }}</small>
        </div>

        <div class="col-md-6 mb-3">
            <p class="h3">Cost Price:</p>
            <small class="text-muted">₱{{ product.cost_price }}</small>
        </div>

        <div class="col-md-6 mb-3">
            <p class="h3">Date Added:</p>
            <small class="text-muted">{{ product.date_added }}</small>
        </div>

        <div class="col-md-6 mb-3">
            <p class="h3">Expiration Date:</p>
            <small class="text-muted">{{ product.expiration_date }}</small>
        </div>

        <div class="col-md-6 mb-3">
            <p class="h3">Brand Name:</p>
            <small class="text-muted">{{ product.brand }}</small>
        </div>
    </div>



{% endblock %}

<style>
    .code-container-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px; /* Adjust as needed to reduce or increase space */
        justify-content: flex-start; /* Align items to the start, keeping them next to each other */
        align-items: center; /* Vertically center if they have different heights */
    }
    .code-container {
        text-align: center;
        width: 120px; /* Set fixed width if you want both to be equal in size */
    }
    .code-container img {
        max-width: 100px; /* Control the image size */
        height: auto;
    }
</style>
