{% extends 'inventory_base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h1>Product List</h1>

    <form method="get" class="mb-3">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-sm table-custom">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>SKU</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Unit of Measurement</th>
                    <th>Expiration</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td class="text-truncate" style="max-width: 150px;">{{ product.name }}</td>
                    <td class="text-truncate" style="max-width: 150px;">{{ product.description }}</td>
                    <td class="text-truncate" style="max-width: 100px;">{{ product.sku }}</td>
                    <td class="text-truncate" style="max-width: 100px;">{{ product.category }}</td>
                    <td class="text-truncate" style="max-width: 50px;">₱{{ product.price }}</td>
                    <td class="text-truncate" style="max-width: 50px;">{{ product.unit_of_measurement }}</td>
                    <td class="text-truncate" style="max-width: 100px;">{{ product.expiration_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
