{% extends 'inventory_base.html' %}

{% block title %}Filter Product List{% endblock %}

{% block content %}
    <h1>Wasted Products</h1>

    <form method="get" class="mb-3">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Category</th>
                <th>Expiration</th>
                <th>Date Of Waste</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.sku }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.name }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.category }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.expiration_date }}</td>
                    <td class="text-truncate" style="max-width: 150px; height: 50px;">{{ product.date_added }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
